



{% extends 'blog/base.html' %}
				
{% block content %}
	<div class="wrapper col-md-12">
			    	<div class="mainContent"><h3>Customer</h3></div>
			    	<div class="mainContent"><h3>Order Date</h3></div>
			    	<div class="mainContent"><h3>Clothes</h3></div>
			    	<div class="mainContent"><h3>Cost</h3></div>
			    	<div class="mainContent"><h3>Completion Date</h3></div>	        
			        
	</div>	
    {% for order in orders %}
	    <div class="wrapper col-md-12">

	    	<div class="mainContent"><h4><a href="{% url 'order_detail' pk=order.pk %}">{{ order.name }}</a></h4></div>
	    	<div class="mainContent"><h4>{{ order.order_date }}</h4></div>
	    	<div class="mainContent"><h4>{{ order.clothing|linebreaksbr }}</h4></div>
	    	<div class="mainContent"><h4>{{ order.price|linebreaksbr }}</h4></div>
	    	<div class="mainContent"><h4>{{ order.completion_date }}</h4></div>	        
	        
	    </div>
	{% endfor %}
{% endblock %}